


body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.vertical-gutter {
  margin: 2rem 0;
}

.text-center {
  text-align: center;
}