@import "variables";

$icomoon-font-path: '../icons/fonts';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?99zjjz') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?99zjjz') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?99zjjz##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-pause {
  &:before {
    content: $icon-pause; 
  }
}
.icon-arrow_right {
  &:before {
    content: $icon-arrow_right; 
  }
}
.icon-arrow_left {
  &:before {
    content: $icon-arrow_left; 
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest; 
  }
}
.icon-linkedin1 {
  &:before {
    content: $icon-linkedin1; 
  }
}
.icon-twitter1 {
  &:before {
    content: $icon-twitter1; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-facebook1 {
  &:before {
    content: $icon-facebook1; 
  }
}

