@font-face {
  font-family: 'nji';
  src:
    url('fonts/nji.ttf?99zjjz') format('truetype'),
    url('fonts/nji.woff?99zjjz') format('woff'),
    url('fonts/nji.svg?99zjjz#nji') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nji' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-arrow_right:before {
  content: "\e900";
}
.icon-arrow_left:before {
  content: "\e901";
}
.icon-pinterest:before {
  content: "\e904";
}
.icon-linkedin1:before {
  content: "\e907";
}
.icon-twitter1:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-facebook1:before {
  content: "\e90a";
}
