$icomoon-font-family: "nji" !default;
$icomoon-font-path: "fonts" !default;

$icon-play: "\ea1c";
$icon-pause: "\ea1d";
$icon-arrow_right: "\e900";
$icon-arrow_left: "\e901";
$icon-pinterest: "\e904";
$icon-linkedin1: "\e907";
$icon-twitter1: "\e908";
$icon-instagram: "\e909";
$icon-facebook1: "\e90a";

