<div class="layout-container">

  <header role="banner" class="header">
    <div class="site-header">
      <div class="container">
        <div class="row no-gutters">
           <div class="col-lg-8 col-md-12">
             {{ page.header_left }}
           </div>
          <div class="col-lg-4 col-md-12">
            {{ page.header_right }}
          </div>
        </div>
      </div>
    </div>
  </header>


  {% if page.banner %}
    <div class="banner" role="banner">
      {{ page.banner }}
    </div>
  {% endif %}

  <main role="main">
    <div class="container">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      <div class="layout-content">
        {{ page.content }}
      </div>{# /.layout-content #}
    </div>
  </main>

  {% if page.footer %}
    <footer role="contentinfo" class="footer">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
