// Theme colors
$primary: #008ca8;
$primary-85: rgba(0, 140, 168, 0.85);
$secondary: #6b6c6e;
$link-color: red;


$font-family-base: 'Source Sans Pro', sans-serif;
$headings-font-weight: $font-weight-normal;
$headings-color: $primary;
$font-size-base: 1.8rem;

// Container screensizes
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 110rem
);
