/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    width: 90rem;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 14rem;
    width: 7rem;
    line-height: 0;
    font-size: 0;
    z-index: 2;
    cursor: pointer;
    background-color: $white;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    opacity: .5;
    &:hover, &:focus {
        outline: none;
        color: transparent;
        opacity: 1;
        &:before {
            opacity: 1;
        }
    }
    &.slick-disabled:before {
        opacity: .25;
    }
    &:before {
        @include icon-font();
        font-size: 7rem;
        color: $black;
        opacity: .8;
    }
}

.slick-prev {
    left: 14px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        content: $icon-arrow_left;
        [dir="rtl"] & {
            content: $icon-arrow_right;
        }
    }
}

.slick-next {
    right: 14px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        content: $icon-arrow_right;
        [dir="rtl"] & {
            content: $icon-arrow_left;
        }
    }
}

.js-slideNav > div > div > div > div > div > img {
    object-fit: cover;
    height: 100%;
    object-position: center;
}

.slick-active {
    opacity: .4;
}

.slick-current {
    opacity: 1;
}
