.footer {
  background-color: $gray-200;
  padding: 2rem 0;

  p {
    font-size: 1.4rem;
  }

  .region-footer {
    padding: 0 2rem;
  }


}

.button {
  display: block;
  border: none;
  color: $white;
  background-color: $secondary;
  margin: 1rem 0;
  padding: .5rem 1rem;
  &:hover {
    background-color: $primary;
  }
}