.site-header {
  padding: 4rem 0 1rem 0;

  &__left {
    align-items: flex-end;
    @include media-breakpoint-down(md) {
      align-items: center;

    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: end;
    @include media-breakpoint-down(md) {

    }
  }
}

.site-logo {
  width: 16rem;
  display: block;
}

.language-switch {
  width: 2rem;
  display: inline-block;
  margin: 0 .5rem;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.search {
  display: flex;
}

.search-btn {
  margin-left: -.4rem;
  background-color: white;
  border: 1px solid $gray-400;

}

.site-slogan {
  position: relative;

  &__title {
    position: absolute;
    z-index: 3;
    font-size: 4rem;
    left: 0;
    bottom: -22rem;
    font-weight: 200;
    width: 60rem;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}


