.menu {
  &-list {

    display: block;
    &--open {
      height: 100%;
    }
    @include media-breakpoint-down(md) {
      height: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
  &-item {
    display: inline-block;
    @include media-breakpoint-down(md) {
      display: block;
    }
    &:first-child > a {
      padding-left: 0;
    }
    &:last-child > a {
      padding-right: 0;
    }

  }
  &-link {
    color: $secondary;
    display: inline-block;
    padding: 0 1rem;
    @include media-breakpoint-down(md) {
      padding: 1rem 0;
      display: block;
    }
  }
}

.hamburger-container {
  display: none;
  height: 4rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 5rem;
  border: 1px solid $secondary;
  border-radius: .5rem;
  padding: .5rem;
  background-color: transparent;
  span {
    height: .2rem;
    width: 4rem;
    background-color: $secondary;
    display: block;
    &:first-child{
      margin-bottom: .6rem;
    }
    &:last-child{
      margin-top: .6rem;
    }

  }

  @include media-breakpoint-down(md) {
    display: block;
  }

}
