.teaser-container {

  bottom: 0;
  width: 100%;
  position: absolute;
  padding: 2rem 10rem;

  &--primary {
    background-color: $primary-85;
  }

  &--white {
    background-color: $color-white-85;
  }
}

.image-container {
  position: relative;


  img {
    object-fit: cover;
    width: 100%;
    height: 30rem;
  }
}

.date {
  color: $secondary;
  font-size: 1.2rem;
}
