.image-paragraph {
  height: 50rem;
  box-shadow: 2px 2px 5px $secondary;
  padding: 2rem;
  margin: 2rem 0;
  img {
    height: 100%;
  }
}

.bron {
  margin-top: 2rem;
  border-top: 1px solid $gray-200;
  padding: 1rem 0;
}

.sidebar {
  background-color: $primary;
  padding: 2rem;
  color: $white;

  h3 {
    color: $white;
  }
}