{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
  'region',
  'region-' ~ region|clean_class,
  'row',

]
%}

<div class="container">
  {% if content %}
    <div{{ attributes.addClass(classes) }}>
      {{ content }}
    </div>
  {% endif %}

  {#
  <div class="row">
    <div class="col">
      <h3>Wij kunnen u van dienst zijn met</h3>
      <p>Ontwerpen, berekenen en tekenen van constructies | Studieopdrachten en productinnovaties | Bestekken en begrotingen |Bouwbegeleiding en toezicht | Schadeopnames en rapportages arbitragezaken | Second opinion | Haalbaarheidsstudies | Risicobeheersing</p>
    </div>
    <div class="col">
      <h3>Schrijf u in voor onze nieuwsbrief</h3>
      <input type="text" />
      <button class="button">Aanmelden</button>
    </div>
    <div class="col">
      <h3>Bouwkundig advies nodig?</h3>
      <p>Waar Pieters Bouwtechniek de constructies ontwerpt, verzorgt Pieters Bouwkunde de technische uitwerking van uw ontwerp</p>
      <a href="http://www.pietersbouwkunde.nl" target="_blank">www.pietersbouwkunde.nl</a>
    </div>
  </div>
</div>
#}