{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
  'col-12',
  'js-slickSlider'


]
%}
{%
  set title_classes = [
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

<div{{ attributes.addClass(classes, 'field__items') }}>
  {% for item in items %}
    <div>{{ item.content }}</div>
  {% endfor %}
</div>

<div class="js-slideNav col-12">
  {% for item in items %}
    <div>{{ item.content }}</div>
  {% endfor %}
</div>